<!-- <div class="h-screen w-full bg-white relative flex overflow-hidden">

  
  <aside class="h-full w-16 flex flex-col space-y-10 items-center justify-center relative bg-blue-600 text-white">
    
    <div pTooltip="Inicio" routerLink="/main"
    tooltipPosition="right" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-blue-800">
      <span class="pi pi-home" fill="none" viewBox="0 0 24 24" stroke="currentColor"></span>
    </div>

   
    <div pTooltip="Usuarios" routerLink="/main/users"
    tooltipPosition="right" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-blue-800">
      <span class="pi pi-users" fill="none" viewBox="0 0 24 24" stroke="currentColor"></span>
    </div>

    
    <div pTooltip="Desconocido"
    tooltipPosition="right" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-blue-800">
      <span class="pi pi-users" fill="none" viewBox="0 0 24 24" stroke="currentColor"></span>
    </div>

   
    <div pTooltip="Configuración" routerLink="/main/settings"
    tooltipPosition="right" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-blue-800">
      <span class="pi pi-cog" fill="none" viewBox="0 0 24 24" stroke="currentColor"></span>
    </div>
  </aside>



  <div class="w-full h-full flex flex-col justify-between">
   
    <header class="h-16 w-full flex items-center relative justify-end px-5 space-x-10 bg-blue-600">
      
      <div class="flex flex-shrink-0 items-center space-x-4 text-white">

        
        <div class="flex flex-col items-end ">
          
          <div class="text-md font-medium ">Unknow Unknow</div>
          
          <div class="text-sm font-regular">Student</div>
        </div>

        
        <div class="h-10 w-10 rounded-full cursor-pointer bg-gray-200 border-2 border-blue-400"></div>
      </div>
    </header>

 
    <main class="max-w-full h-full flex relative overflow-y-hidden">

      <div class="h-full w-full flex flex-wrap items-start justify-start grid-flow-col auto-cols-max  overflow-y-scroll">

        <router-outlet/>
      </div>
    </main>
  </div>

</div>
 -->


 <p-toolbar styleClass="bg-blue-600">

  <ng-template pTemplate="start">
    <img style="height: 30px" src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
  </ng-template>

 </p-toolbar>
 <main>
  <router-outlet></router-outlet>
 </main>